In [20]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data is contained in '../Data/Processed' directory
# Output data is written to '../Data/Processed' directory
# This cell lists all files under the input directory

import os
INPUT_DIR = os.path.join(os.path.dirname(os.getcwd()), 'Data', 'Processed')
OUTPUT_DIR = os.path.join(os.path.dirname(os.getcwd()), 'Data', 'Processed')
for dirname, _, filenames in os.walk(INPUT_DIR):
    for filename in filenames:
        print(os.path.join(dirname, filename))

c:\Users\ASUS\Documents\Python Programming\Book recommendations\Data\Processed\average_ratings_by_user.csv
c:\Users\ASUS\Documents\Python Programming\Book recommendations\Data\Processed\Books_valid_ISBN_known_year_no_images.csv
c:\Users\ASUS\Documents\Python Programming\Book recommendations\Data\Processed\normalized_user-book_matrix.csv
c:\Users\ASUS\Documents\Python Programming\Book recommendations\Data\Processed\popular_books_with_descriptions.csv
c:\Users\ASUS\Documents\Python Programming\Book recommendations\Data\Processed\ratings_for_popular_books.csv
c:\Users\ASUS\Documents\Python Programming\Book recommendations\Data\Processed\Ratings_valid_ISBN.csv
c:\Users\ASUS\Documents\Python Programming\Book recommendations\Data\Processed\user-book_matrix.csv
c:\Users\ASUS\Documents\Python Programming\Book recommendations\Data\Processed\user-book_matrix_normalized_withna.csv
c:\Users\ASUS\Documents\Python Programming\Book recommendations\Data\Processed\users_valid_age_with_country.csv

In this notebook we create a user-book matrix containing information about rating each user gave to each book or NaN if they didn't review the book. We also create a normalized matrix where each has a mean 0 for the ratings they gave.

We first load the ratings dataframe.

In [21]:
ratings_df = pd.read_csv(os.path.join(INPUT_DIR, 'ratings_for_popular_books.csv'))
print(ratings_df.info())
print(ratings_df.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17837 entries, 0 to 17836
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   User-ID      17837 non-null  int64
 1   ISBN         17837 non-null  object
 2   Book-Rating  17837 non-null  int64
dtypes: int64(2), object(1)
memory usage: 418.2+ KB
None
   User-ID        ISBN  Book-Rating
0   276788  043935806X            7
1   276925  0385504209            8
2   276953  0446310786           10
3   276964  0440220602            9
4   277042  0971880107            2

To create a user-book matrix, we pivot our dataframe.

In [22]:
user_ratings_pivot = ratings_df.pivot(index='User-ID', columns='ISBN', values='Book-Rating')
print(user_ratings_pivot.info())
print(user_ratings_pivot.head())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10637 entries, 26 to 278844
Data columns (total 95 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   0060392452  158 non-null    float64
 1   0060502258  166 non-null    float64
 2   0060928336  320 non-null    float64
 3   0060930535  218 non-null    float64
 4   0060934417  159 non-null    float64
 5   0060938455  154 non-null    float64
 6   0060976845  186 non-null    float64
 7   0060987103  156 non-null    float64
 8   006101351X  118 non-null    float64
 9   014028009X  131 non-null    float64
 10  0140293248  165 non-null    float64
 11  0142000205  129 non-null    float64
 12  0142001740  307 non-null    float64
 13  0312195516  383 non-null    float64
 14  0312278586  226 non-null    float64
 15  0312291639  167 non-null    float64
 16  0312305060  129 non-null    float64
 17  0316096199  133 non-null    float64
 18  0316284955  171 non-null    float64
 19  0316601950  272 non-null    float64
 20  0316666343  707 non-null    float64
 21  0316769487  243 non-null    float64
 22  0316776963  159 non-null    float64
 23  0345313860  143 non-null    float64
 24  0345337662  230 non-null    float64
 25  0345339681  161 non-null    float64
 26  0345342968  164 non-null    float64
 27  0345351525  100 non-null    float64
 28  0345353145  136 non-null    float64
 29  0345361792  181 non-null    float64
 30  0345370775  200 non-null    float64
 31  0345378490  98 non-null     float64
 32  0345417623  195 non-null    float64
 33  0345443284  138 non-null    float64
 34  0375700757  134 non-null    float64
 35  0375706771  153 non-null    float64
 36  0375707972  145 non-null    float64
 37  0375725784  144 non-null    float64
 38  0375726403  145 non-null    float64
 39  0375727345  229 non-null    float64
 40  0380731851  104 non-null    float64
 41  0380789035  151 non-null    float64
 42  0385265700  115 non-null    float64
 43  0385335482  163 non-null    float64
 44  0385484518  200 non-null    float64
 45  0385492081  138 non-null    float64
 46  0385504209  487 non-null    float64
 47  0385720106  111 non-null    float64
 48  0385722206  129 non-null    float64
 49  043935806X  206 non-null    float64
 50  044021145X  208 non-null    float64
 51  0440211727  194 non-null    float64
 52  0440213525  145 non-null    float64
 53  0440214041  174 non-null    float64
 54  0440220602  146 non-null    float64
 55  0440221471  152 non-null    float64
 56  044022165X  138 non-null    float64
 57  0440222656  140 non-null    float64
 58  0440224675  101 non-null    float64
 59  0440224764  143 non-null    float64
 60  0440225701  133 non-null    float64
 61  0440226430  214 non-null    float64
 62  0440234743  169 non-null    float64
 63  0440236673  150 non-null    float64
 64  044023722X  281 non-null    float64
 65  0440241073  200 non-null    float64
 66  0446310786  214 non-null    float64
 67  0446364193  116 non-null    float64
 68  044651652X  152 non-null    float64
 69  0446605239  206 non-null    float64
 70  0446606812  131 non-null    float64
 71  0446608955  124 non-null    float64
 72  0446610038  177 non-null    float64
 73  0449212602  111 non-null    float64
 74  0452282152  278 non-null    float64
 75  0452282829  139 non-null    float64
 76  0553279912  102 non-null    float64
 77  0553572997  120 non-null    float64
 78  059035342X  313 non-null    float64
 79  0671003755  207 non-null    float64
 80  0671021001  217 non-null    float64
 81  0671027360  269 non-null    float64
 82  0671510053  150 non-null    float64
 83  067976402X  256 non-null    float64
 84  0679781587  333 non-null    float64
 85  068484477X  125 non-null    float64
 86  0684872153  136 non-null    float64
 87  0743237188  127 non-null    float64
 88  0743418174  236 non-null    float64
 89  0786868716  242 non-null    float64
 90  0804106304  194 non-null    float64
 91  080410753X  98 non-null     float64
 92  0842329129  155 non-null    float64
 93  0971880107  581 non-null    float64
 94  1400034779  183 non-null    float64
dtypes: float64(95)
memory usage: 7.8 MB
None
ISBN     0060392452  0060502258  0060928336  0060930535  0060934417  \
User-ID
26              NaN         NaN         NaN         NaN         NaN
51              NaN         NaN         NaN         NaN         NaN
91              NaN         NaN         NaN         NaN         NaN
114             NaN         NaN         NaN         NaN         NaN
165             NaN         NaN         NaN         NaN         NaN

ISBN     0060938455  0060976845  0060987103  006101351X  014028009X  ...  \
User-ID                                                              ...
26              NaN         NaN         NaN         NaN         NaN  ...
51              NaN         NaN         NaN         NaN         NaN  ...
91              NaN         NaN         NaN         NaN         NaN  ...
114             NaN         NaN         NaN         NaN         NaN  ...
165             NaN         9.0         NaN         NaN         NaN  ...

ISBN     068484477X  0684872153  0743237188  0743418174  0786868716  \
User-ID
26              NaN         NaN         NaN         NaN         NaN
51              NaN         NaN         NaN         NaN         NaN
91              NaN         NaN         NaN         NaN         NaN
114             NaN         NaN         NaN         NaN         NaN
165             NaN         NaN         NaN         NaN         NaN

ISBN     0804106304  080410753X  0842329129  0971880107  1400034779
User-ID
26              NaN         NaN         NaN         NaN         NaN
51              NaN         NaN         NaN         NaN         NaN
91              NaN         NaN         NaN         NaN         NaN
114             NaN         NaN         NaN         NaN         NaN
165             NaN         NaN         NaN         NaN         NaN

[5 rows x 95 columns]

We write this matrix to a user-book_matrix.csv file.

In [23]:
user_ratings_pivot.to_csv(os.path.join(OUTPUT_DIR, 'user-book_matrix.csv'))

Now we have our (very sparse) matrix with ratings that users gave to books or NaN if they didn't leave a review. To get rid of NaNs, we will center each row so that the average rating the user gives is zero (we will have negative ratings now). To do that, we will subtract the average rating for every user. We then will fill NaNs with zeroes.

In [24]:
user_average_ratings = user_ratings_pivot.mean(axis=1)
print(user_average_ratings)
user_ratings_pivot = user_ratings_pivot.sub(user_average_ratings, axis=0)
print(user_ratings_pivot.head())

User-ID
26        10.000000
51         9.000000
91         9.000000
114       10.000000
165        9.000000
            ...
278755     1.000000
278773     8.000000
278798     7.000000
278843     8.333333
278844     7.000000
Length: 10637, dtype: float64
ISBN     0060392452  0060502258  0060928336  0060930535  0060934417  \
User-ID
26              NaN         NaN         NaN         NaN         NaN
51              NaN         NaN         NaN         NaN         NaN
91              NaN         NaN         NaN         NaN         NaN
114             NaN         NaN         NaN         NaN         NaN
165             NaN         NaN         NaN         NaN         NaN

ISBN     0060938455  0060976845  0060987103  006101351X  014028009X  ...  \
User-ID                                                              ...
26              NaN         NaN         NaN         NaN         NaN  ...
51              NaN         NaN         NaN         NaN         NaN  ...
91              NaN         NaN         NaN         NaN         NaN  ...
114             NaN         NaN         NaN         NaN         NaN  ...
165             NaN         0.0         NaN         NaN         NaN  ...

ISBN     068484477X  0684872153  0743237188  0743418174  0786868716  \
User-ID
26              NaN         NaN         NaN         NaN         NaN
51              NaN         NaN         NaN         NaN         NaN
91              NaN         NaN         NaN         NaN         NaN
114             NaN         NaN         NaN         NaN         NaN
165             NaN         NaN         NaN         NaN         NaN

ISBN     0804106304  080410753X  0842329129  0971880107  1400034779
User-ID
26              NaN         NaN         NaN         NaN         NaN
51              NaN         NaN         NaN         NaN         NaN
91              NaN         NaN         NaN         NaN         NaN
114             NaN         NaN         NaN         NaN         NaN
165             NaN         NaN         NaN         NaN         NaN

[5 rows x 95 columns]

We write our normalized matrix to 'user-book_matrix_normalized_withna.csv'.

In [25]:
user_ratings_pivot.to_csv(os.path.join(OUTPUT_DIR, 'user-book_matrix_normalized_withna.csv'))

It remains to remove NaNs from the matrix.

In [26]:
user_ratings_pivot = user_ratings_pivot.fillna(0)
print(user_ratings_pivot.head())
print(user_ratings_pivot.mean(axis=1))

ISBN     0060392452  0060502258  0060928336  0060930535  0060934417  \
User-ID
26              0.0         0.0         0.0         0.0         0.0
51              0.0         0.0         0.0         0.0         0.0
91              0.0         0.0         0.0         0.0         0.0
114             0.0         0.0         0.0         0.0         0.0
165             0.0         0.0         0.0         0.0         0.0

ISBN     0060938455  0060976845  0060987103  006101351X  014028009X  ...  \
User-ID                                                              ...
26              0.0         0.0         0.0         0.0         0.0  ...
51              0.0         0.0         0.0         0.0         0.0  ...
91              0.0         0.0         0.0         0.0         0.0  ...
114             0.0         0.0         0.0         0.0         0.0  ...
165             0.0         0.0         0.0         0.0         0.0  ...

ISBN     068484477X  0684872153  0743237188  0743418174  0786868716  \
User-ID
26              0.0         0.0         0.0         0.0         0.0
51              0.0         0.0         0.0         0.0         0.0
91              0.0         0.0         0.0         0.0         0.0
114             0.0         0.0         0.0         0.0         0.0
165             0.0         0.0         0.0         0.0         0.0

ISBN     0804106304  080410753X  0842329129  0971880107  1400034779
User-ID
26              0.0         0.0         0.0         0.0         0.0
51              0.0         0.0         0.0         0.0         0.0
91              0.0         0.0         0.0         0.0         0.0
114             0.0         0.0         0.0         0.0         0.0
165             0.0         0.0         0.0         0.0         0.0

[5 rows x 95 columns]
User-ID
26        0.000000e+00
51        0.000000e+00
91        0.000000e+00
114       0.000000e+00
165       0.000000e+00
              ...
278755    0.000000e+00
278773    0.000000e+00
278798    0.000000e+00
278843   -1.869849e-17
278844    0.000000e+00
Length: 10637, dtype: float64

We write this normalized user-book matrix to 'normalized_user-book_matrix.csv'. We will also write the average ratings for each user to a separate 'average_ratings_by_user.csv' file.

In [27]:
user_ratings_pivot.to_csv(os.path.join(OUTPUT_DIR, 'normalized_user-book_matrix.csv'))
user_average_ratings.to_csv(os.path.join(OUTPUT_DIR, 'average_ratings_by_user.csv'))